@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #333; 
}

header {
  background-color: #7d746b; 
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 60px;
  color: #251f19; 
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li {
  display: inline;
}

a {
  color: #f4f0e1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


main {
  padding: 20px;
}

section {
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

#task-list {
  list-style-type: none;
  padding: 0;
}

#task-list li {
  margin-bottom: 10px;
}

h2 {
  color: #9c8460;
  margin-top: 10px;
}


input, textarea {
  border-radius: 8px;
  background-color: #f1e5d8;
  padding: 10px;
  border: 1px solid #ddd;
}

button {
  background-color: #c9b37e;
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
}

button:hover {
  background-color: #b39a62;
  transform: translateY(-3px);
}


#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin: 20px 0;
}


footer {
  text-align: center;
  padding: 20px;
  background-color: #7d746b;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
